.footer {
    background-color: #171717;
    color: #ffffff;
    padding: 40px 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #bbbbbb;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff5252;
}

.social-links a {
    display: inline-block;
    margin-right: 15px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff5252;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbbbbb;
    border-top: 1px solid #444444;
    padding-top: 20px;
}
